<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SignalStrength.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <SignalStrength.Wpf.Properties.Settings>
            <setting name="ChosenAccent" serializeAs="String">
                <value>#FF007ACC</value>
            </setting>
            <setting name="ChosenSecondaryAccent" serializeAs="String">
                <value>#FF0098FF</value>
            </setting>
            <setting name="ChosenTheme" serializeAs="String">
                <value>/SignalStrength;component/Assets/byProgramingFactory.xaml</value>
            </setting>
            <setting name="ChosenFontSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="Global_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ChosenLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ChosenTimeColumns" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ChoosenRange" serializeAs="String">
                <value>15</value>
            </setting>
        </SignalStrength.Wpf.Properties.Settings>
    </userSettings>
</configuration>
